<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.oceanstyxx.pddriver">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="Pub Driver"
        android:supportsRtl="true"
        android:theme="@style/MyTheme1">

        <!-- Splash screen -->
        <activity
            android:name="com.oceanstyxx.pddriver.activity.SplashScreen"
            android:label="Pub Driver"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.LoginActivity"
            android:theme="@style/AppFullScreenTheme" />

        <activity android:name=".activity.MainActivity"
            />
    </application>

</manifest>